.main-display {
  display: flex;
  flex-direction: row;
}

.left-display {
  width: 150px;
  height: 630px;
}

.left-pics {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  margin: auto;
}

.left-pics #left-img {
  margin: 5px;
  border: 1px solid black;
  height: 80px;
}

.left-pics #left-img:hover {
  border: 2px solid;
  border-color: red; /* Change the border color on hover */
}

.right-display {
  margin: 10px;
  height: 630px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-display .right-img {
  width: auto;
  height: 80%;
}
