.navbar {
  --bs-navbar-padding-y: 0;
}

/* .nav-item.dropdown:hover .dropdown-menu {
  display: block;
  transition: 10s;
} */

.dropdown.show .dropdown-menu {
  max-height: 500px;
}

.dropdown-menu.show {
  width: 370px;
}

.dropdown-item {
  position: relative;
}

/* .dropdown-menu {
  min-width: 100rem;
} */

/* .dropdown {
  width: auto;
  margin-right: 50px;
} */

/* .navbar-nav {
  width: 100px;
} */

.pe-3 {
  padding-right: 0px !important;
}

.container {
  max-width: 100%;
  margin: 0%;
  padding: 0%;
  position: relative;
  overflow: hidden;
}

.img-fluid {
  width: 100%;
  height: 92vh;
}

.mb-3 {
  margin-bottom: 0px !important;
}

.backdrop1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 25, 25, 0.6);
  z-index: 1;
  opacity: 0.8;
}

.text1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2vw;
  text-align: center;
  z-index: 2;
  font-family: "Poppins", sans-serif;
}

.container2 {
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.img-fluid2 {
  position: relative;
  height: 25%;
  width: 25%;
  margin: 50px;
  overflow: hidden;
}

.img-fluid3 {
  height: 100%;
  width: 100%;
  margin: 0px;
  transition: 0.3s all ease-in-out;
}

.img-fluid2:hover .img-fluid3 {
  transform: scale(1.05);
}

.img-fluid2:hover .backdrop2 {
  display: none;
}

.img-fluid2:hover .text1 {
  color: rgb(203, 149, 49);
  font-weight: bold;
}

.backdrop2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 25, 25, 0.6);
  z-index: 1;
  opacity: 0.8;
}

.img-fluid4 {
  width: 106px;
  height: 60px;
}

.subscribe {
  margin-left: 25%;
  font-size: smaller;
}

.container2-button {
  font-size: 1.2vw;
}

.hotAlign {
  display: inline-block;
  position: absolute;
  right: 20px;
  margin: 0px;
  color: orange;
}

/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 400px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  position: absolute;
  bottom: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.slideshowDot {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;

  cursor: pointer;
  margin: 0px 15px 0px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}

.OTPdetails {
  display: none;
}

.OTPdetails2 {
  display: none;
}

.zipper {
  display: flex;
  flex-wrap: wrap;
}

.img-fluid2-1 {
  position: relative;
  height: 400px;
  width: 400px;
  margin: 50px;
  overflow: hidden;
}

.img-fluid3-1 {
  height: 100%;
  width: 100%;
  margin: 0px;
  object-fit: contain;
  transition: 0.3s all ease-in-out;
}

.img-fluid2-1:hover .img-fluid3-1 {
  transform: scale(1.05);
}

.img-fluid2-1:hover .backdrop2 {
  display: none;
}

.img-fluid2-1:hover .text1 {
  color: rgb(203, 149, 49);
  font-weight: bold;
}

.mrp {
  text-decoration: line-through;
  color: red;
}

.LoginIcon a {
  text-decoration: none;
  color: white; /* Customize the color to match the rest of the text */
  cursor: pointer;
}

.nav-item {
  width: auto;
  margin-right: 50px;
}

.nav-link {
  color: white;
}

.nav-link:focus, .nav-link:hover {
  color: white;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.custom-font {
  font-family: "Poppins", sans-serif; /* Use the imported font */
}

.about-us-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transform: scaleX(-1); /* Mirror the image horizontally */
}

.about-us-text {
  position: relative;
  height: 100vh;
  color: rgb(0, 0, 0);
  margin: 30px;
}

.dropdown-item a {
  text-decoration: none;
  color: #333; /* Customize the color to match the rest of the text */
  cursor: pointer;
  font-weight: 500;
}

.after-price {
  color: green;
  margin-left: 10px;
}

.price {
  font-weight: bold;
}

.price-container {
  display: flex;
}

.price-container p {
  margin-bottom: 0;
}

/* Custom CSS to override Offcanvas styles */
.offcanvas.show a{
  color: black;
}

.offcanvas .show>.nav-link {
  color: orange
}

.offcanvas .show .LoginIcon {
  color: black
}

.navbar-toggler{
  background-color: white;
}
